# py cache
__pycache__



# ipynb checkpoints
.ipynb_checkpoints/
*ipynb_checkpoints
.ipynbc-checkpoints*

# Do not include configuration file
config/

#Do not include scratch folders, subdirectories, or files
*scratch/
scratch/
scratch*
